.body {
    margin: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 1.5rem;

}

.nav-content {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-right: 2rem;
    align-items: center;
    


}
.nav-content > a {
    color: yellow;
    
    cursor: pointer;
    text-decoration: none;
    

}
.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    background-color:lightgrey;
    height: 30rem;

}

.section1 {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(110, 110, 150, 0.42) 0px 2px 8px 0px;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    background-color: lightyellow;
    justify-content: center;
    margin-top: -5rem;


}


.section1 >p{
    display:flex;
    justify-content: center;

}
.img-container {
    width: 15rem;
    height: 10rem;

}

.img-container > img {
    height: 100%;
    width: 100%;
    border: 1px solid darkgray;

    
}
.section1>img{
    padding: 20px;
}
.imgcontainer >p {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}
.button {
    margin-top: 13rem;
    margin-left: -35rem;
}
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    background-color:lightgrey;
    height: 30rem;    
}
.img-container > img {
    display: flex;
    justify-content: flex-start;
}
